<section class="catalog-section" id="catalog">
    <div class="container">
        <h2 class="section-title">Catalog</h2>
        <div class="container-catalog"></div>
        <ul class="catalog-list">
            <li class="catatlog-item">
                <div class="catalog-photo">
                    <picture>
                        <source srcset="./img/catalogimages/watches1.png 1x,
                        ./img/catalogimages/watches1-2x.png 2x
                        " media="(min-width: 768px)" />
                        <source srcset="./img/catalogimages/watchesmobile1.png 1x,
                        ./img/catalogimages/watchesmobile1-2x.png 2x
                        " media="(max-width: 767px)" />
                        <img src="./img/catalogimages/watchesmobile1.png" alt="Fenix" />
                    </picture>
                </div>
                <div class="catalog-description">
                    <h3 class="catalog-description-title">
                        Garmin Fenix 7X Pro Sapphire Solar
                    </h3>
                    <p class="catalog-description-text">€500</p>
                </div>
            </li>
            <li class="catatlog-item">
                <div class="catalog-photo">
                    <picture>
                        <source srcset="./img/catalogimages/watches2.png 1x,
                        ./img/catalogimages/watches2-2x.png 2x
                        " media="(min-width: 768px)" />
                        <source srcset="./img/catalogimages/watchesmobile2.png 1x,
                        ./img/catalogimages/watchesmobile2-2x.png 2x
                        " media="(max-width: 767px)" />
                        <img src="./img/catalogimages/watchesmobile2.png" alt="Marq" />
                    </picture>
                </div>
                <div class="catalog-description">
                    <h3 class="catalog-description-title">
                        Garmin Marq Athlete
                    </h3>
                    <p class="catalog-description-text">€450</p>
                </div>
            </li>
            <li class="catatlog-item">
                <div class="catalog-photo">
                    <picture>
                        <source srcset="./img/catalogimages/watches3.png 1x,
                        ./img/catalogimages/watches3-2x.png 2x
                        " media="(min-width: 768px)" />
                        <source srcset="./img/catalogimages/watchesmobile3.png 1x,
                        ./img/catalogimages/watchesmobile3-2x.png 2x
                        " media="(max-width: 767px)" />
                        <img src="./img/catalogimages/watchesmobile3.png" alt="Descent" />
                    </picture>
                </div>
                <div class="catalog-description">
                    <h3 class="catalog-description-title">
                        Garmin Descent MK1
                    </h3>
                    <p class="catalog-description-text">€680</p>
                </div>
            </li>
            <li class="catatlog-item">
                <div class="catalog-photo">
                    <picture>
                        <source srcset="./img/catalogimages/watches4.png 1x,
                        ./img/catalogimages/watches4-2x.png 2x
                        " 
                        media="(min-width: 768px)" 
                        />
                        <source srcset="./img/catalogimages/watchesmobile4.png 1x,
                        ./img/catalogimages/watchesmobile4-2x.png 2x
                        " 
                        media="(max-width: 767px)" 
                        />
                        <img src="./img/catalogimages/watchesmobile4.png" alt="D2" />
                    </picture>
                </div>
                <div class="catalog-description">
                    <h3 class="catalog-description-title">
                        Garmin D2 Delta PX
                    </h3>
                    <p class="catalog-description-text">€380</p>
                </div>
            </li>
            <li class="catatlog-item catalog-item-mobile">
                <div class="catalog-photo">
                    <picture>
                        <source 
                        srcset="./img/catalogimages/watches5.png 1x,
                        ./img/catalogimages/watches5-2x.png 2x
                        " media="(min-width: 768px)" />
                        
                        <img src="./img/catalogimages/watches5.png" alt="Fenix" />
                    </picture>
                </div>
                <div class="catalog-description">
                    <h3 class="catalog-description-title">
                        Garmin Fenix 6 Pro Solar
                    </h3>
                    <p class="catalog-description-text">€400</p>
                </div>
            </li>
        
            <li class="catatlog-item catalog-item-mobile">
                
                <div class="catalog-photo">
                    <picture>
                        <source srcset="./img/catalogimages/watches6.png 1x,
                        ./img/catalogimages/watches6-2x.png 2x
                        " media="(min-width: 768px)" />
                        
                        <img src="./img/catalogimages/watches6.png" alt="Tube" />
                    </picture>
                </div>
                <div class="catalog-description">
                    <h3 class="catalog-description-title">
                        Tube Watch S42 Date Steel With Black Case
                    </h3>
                    <p class="catalog-description-text">€395</p>
                </div>
            </li>
        </ul>
        <div class="catalog-button">
<button class="mobile-catalog-button" type="button">Show more</button>
        </div>
        
    </div>
</section>


