<main>
    <section class="catalog-container">
        <div class="container">
            <h2 class="title-catalog">Catalog</h2>
            <ul class="list-catalog"> 
                <!-- First watches -->
                <div class="item-container">
<li class="item-catalog">
                    <picture>
                        <source
                        media="(min-width: 1158px)"
                        srcset="./img/catalogimages/watches1.png 1x,
                        ./img/catalogimages/watches1-2x.png 2x
                        "
                        />
                        <source
                        media="(min-width: 768px)"
                        srcset="./img/catalogimages/watches1.png 1x,
                        ./img/catalogimages/watches1-2x.png 2x
                        "
                        />
                        <source
                        media="(max-width: 767px)"
                        srcset="./img/catalogimages/watchesmobile1.png 1x,
                        ./img/catalogimages/watchesmobile1-2x.png 2x
                        "
                        />
                        <img
                        src="./img/catalogimages/watches1.png"
                        alt="Garmin Fenix 7X Pro Sapphire Solar"
                        />
                    </picture>
                    <div class="catalog-description">
                        <h3>Garmin Fenix 7X Pro Sapphire Solar</h3>
                        <p class="item-price">€500</p>
                    </div>
                </div>
                
                </li>
                <!--  -->
    <!-- second watches -->
    <div class="item-container">
<li class="item-catalog">
                    <picture>
                        <source
                        media="(min-width: 1158px)"
                        srcset="./img/catalogimages/watches2.png 1x,
                        ./img/catalogimages/watches2-2x.png 2x
                        "
                        />
                        <source
                        media="(min-width: 768px)"
                        ./img/catalogimages/watches2-2x.png 2x
                        "
                        />
                        <source
                        media="(max-width: 767px)"
                        srcset="./img/catalogimages/watchesmobile2.png 1x,
                        ./img/catalogimages/watchesmobile2-2x.png 2x
                        "
                        />
                        <img
                        src="./img/catalogimages/watches2.png"
                        alt="Garmin Marq Athlete"
                        />
                    </picture>
                    <div class="catalog-description">
                        <h3>Garmin Marq Athlete</h3>
                        <p class="item-price">€450</p>
                    </div>
                </li>
    </div>
                
    <!--  -->
    <div class="item-container">
<li class="item-catalog">
                    <picture>
                        <source
                        media="(min-width: 1158px)"
                        srcset="./img/catalogimages/watches3.png 1x,
                        ./img/catalogimages/watches3-2x.png 2x
                        "
                        />
                        <source
                        media="(min-width: 768px)"
                        srcset="./img/catalogimages/watches3.png 1x,
                        ./img/catalogimages/watches3-2x.png 2x
                        "
                        />
                        <source
                        media="(max-width: 767px)"
                        srcset="./img/catalogimages/watchesmobile3.png 1x,
                        ./img/catalogimages/watchesmobile3-2x.png 2x
                        "
                        />
                        <img
                        src="./img/catalogimages/watches3.png"
                        alt="Garmin Descent MK1"
                        />
                    </picture>
                    <div class="catalog-description">
                        <h3>Garmin Descent MK1</h3>
                        <p class="item-price">€680</p>
                    </div>
                </li>
    </div>
                
            <div class="item-container">
<li class="item-catalog">
                <picture>
                        <source
                        media="(min-width: 1158px)"
                        srcset="./img/catalogimages/watches4.png 1x,
                        ./img/catalogimages/watches4-2x.png 2x
                        "
                        />
                        <source
                        media="(min-width: 768px)"
                        srcset="./img/catalogimages/watches4.png 1x,
                        ./img/catalogimages/watches4-2x.png 2x
                        "
                        />
                        <source
                        media="(max-width: 767px)"
                        srcset="./img/catalogimages/watchesmobile4.png 1x,
                        ./img/catalogimages/watchesmobile4-2x.png 2x
                        "
                        />
                        <img
                        src="./img/catalogimages/watches4.png"
                        alt="Garmin D2 Delta PX"
                        />
                    </picture>
                    <div class="catalog-description">
                        <h3>Garmin D2 Delta PX</h3>
                        <p class="item-price">€380</p>
                    </div>
                </li>
            </div>
                
<div class="item-container">
<li class="item-catalog">
                <picture>
                        <source
                        media="(min-width: 1158px)"
                        srcset="./img/catalogimages/watches5.png 1x,
                        ./img/catalogimages/watches5-2x.png 2x
                        "
                        />
                        <source
                        media="(min-width: 768px)"
                        srcset="./img/catalogimages/watches5.png 1x,
                        ./img/catalogimages/watches5-2x.png 2x
                        "
                        />
                        
                        <img
                        src="./img/catalogimages/watches5.png"
                        alt="Garmin Fenix 6 Pro Solar"
                        />
                    </picture>
                    <div class="catalog-description">
                        <h3>Garmin Fenix 6 Pro Solar</h3>
                        <p class="item-price">€400</p>
                    </div>
                </li>
</div>
                
<div class="item-container">
<li class="item-catalog">
                <source
                        media="(min-width: 1158px)"
                        srcset="./img/catalogimages/watches6.png 1x,
                        ./img/catalogimages/watches6-2x.png 2x
                        "
                        />
                        <source
                        media="(min-width: 768px)"
                        srcset="./img/catalogimages/watches6.png 1x,
                        ./img/catalogimages/watches6-2x.png 2x
                        "
                        />
                        <source
                        media="(max-width: 767px)"
                        srcset="./img/catalogimages/watchesmobile6.png 1x,
                        ./img/catalogimages/watchesmobile6-2x.png 2x
                        "
                        />
                        
                        <img
                        src="./img/catalogimages/watches6.png"
                        alt="Tube Watch S42 Date Steel With Black Case"
                        />
                    <div class="catalog-description">
                        <h3>Tube Watch S42 Date Steel With Black Case</h3>
                        <p class="item-price">€395</p>
                    </div>
                </li>
</div>  
            </ul>
        </div>
        
    
    </section>
</main>
