<footer class="page-footer" id="page-footer">
   <div class="container">
      <div class="page-footer__inner">
         <div class="contacts-footer">
            <div class="contacts-footer__logo-block">

               <!-- LOGO -->
               <a class="logo contacts-footer__logo" href="./index.html">watchcharm</a>
               <!-- /LOGO -->

               <!-- SOCIAL -->
               <ul class="social contacts-footer__social">
                  <li class="social__item">
                     <a href="https://www.facebook.com/goITclub/" class="social__link" target="blank">
                        <svg class="social__icon" width="20" height="20">
                           <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="social__item">
                     <a href="https://www.instagram.com/goitclub/" class="social__link" target="blank">
                        <svg class="social__icon" width="20" height="20">
                           <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="social__item">
                     <a href="https://www.youtube.com/c/GoIT" class="social__link" target="blank">
                        <svg class="social__icon" width="20" height="20">
                           <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                     </a>
                  </li>
               </ul>
               <!-- /SOCIAL -->
            </div>

            <address class="contacts-footer__phone">
               <a class="contact-phone" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </address>

            <p class="contacts-footer__slogan">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
         </div>

         <div class="page-footer__navigation">
            <!-- MENU -->
            <nav class="menu page-footer__menu">
               <ul class="menu__list page-footer__menu-list">
                  <li class="menu__item page-footer__menu-item">
                     <a href="./index.html" class="menu__link page-footer__menu-link">Home</a>
                  </li>
                  <li class="menu__item page-footer__menu-item">
                     <a href="#about-us" class="menu__link page-footer__menu-link">About Us</a>
                  </li>
                  <li class="menu__item page-footer__menu-item">
                     <a href="#catalog" class="menu__link page-footer__menu-link">Catalog</a>
                  </li>
                  <li class="menu__item page-footer__menu-item">
                     <a href="#sale" class="menu__link page-footer__menu-link">Sale</a>
                  </li>
                  <li class="menu__item page-footer__menu-item">
                     <a href="#reviews" class="menu__link page-footer__menu-link">Reviews</a>
                  </li>
                  <li class="menu__item page-footer__menu-item">
                     <a href="#contact-us" class="menu__link page-footer__menu-link">Contact Us</a>
                  </li>
               </ul>
            </nav>
            <!--/ MENU -->

            <address class="contact-address">1678 S. Pioneer Road Salt Lake City UT 84104</address>
         </div>

         <div class="page-footer__extra">
            <p class="page-footer__copyright">&copy;<time>2023</time>&nbsp;<span>The Watch Spot.</span> All rights reserved.</p>
            <div class="page-footer__user-policy">
               <a href="#" class="page-footer__terms">Terms of Service</a>
               <a href="#" class="page-footer__privacy-policy-link">Privacy Policy</a>
            </div>
         </div>
      </div>
   </div>
</footer>