<header id="header" class="header">
   <div class="header_container container">
      <div class="header_logo_container">
         <a href="./index.html" class="header_logo logo">watchcharm</a>

         <button type="button" class="btn-burger btn">
            <svg class="icon icon-burger" width="34" height="34">
               <use href="./img/icons.svg#icon-burger"></use>
            </svg>
         </button>
         <button type="button" class="btn-close icon-close none btn">
            <svg class="icon" width="34" height="34">
               <use href="./img/icons.svg#icon-close"></use>
            </svg>
         </button>
      </div>
      <div class="mobile_menu_container">
         <nav class="mobile_menu">
            <ul class="mobile_nav">
               <li class="mobile_menu_item"><a href="./index.html" class="mobile_menu_link">Home</a></li>
               <li class="mobile_menu_item"><a href="#about-us" class="mobile_menu_link">About Us</a></li>
               <li class="mobile_menu_item"><a href="#catalog" class="mobile_menu_link">Catalog</a></li>
               <li class="mobile_menu_item"><a href="#sale" class="mobile_menu_link">Sale</a></li>
               <li class="mobile_menu_item"><a href="#reviews" class="mobile_menu_link">Reviews</a></li>
               <li class="mobile_menu_item"><a href="#contact-us" class="mobile_menu_link">Contact Us</a></li>
            </ul>
         </nav>
         <ul class="social header_social">
            <li class="social__item">
               <a href="https://www.facebook.com/goITclub/" class="social__link" target="blank">
                  <svg class="social__icon" width="18" height="18">
                     <use href="./img/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
            </li>
            <li class="social__item">
               <a href="https://www.instagram.com/goitclub/" class="social__link" target="blank">
                  <svg class="social__icon" width="18" height="18">
                     <use href="./img/icons.svg#icon-instagram"></use>
                  </svg>
               </a>
            </li>
            <li class="social__item">
               <a href="https://www.youtube.com/c/GoIT" class="social__link" target="blank">
                  <svg class="social__icon" width="18" height="18">
                     <use href="./img/icons.svg#icon-youtube"></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>
   </div>
</header>


<script>
   const hamburger = document.querySelector(".btn-burger");
   const navLinks = document.querySelector(".mobile_menu_container");
   const close = document.querySelector(".btn-close");

   hamburger.addEventListener("click", () => {
      navLinks.classList.toggle("active");
      hamburger.classList.toggle("none");
      close.classList.toggle("none");
   });

   close.addEventListener("click", () => {
      navLinks.classList.toggle("active");
      hamburger.classList.toggle("none");
      close.classList.toggle("none");
   });
</script>