/* MOBILE */
.catalog-section {
    padding-bottom: 60px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catatlog-item {
    width: 335px;
    padding: 24px 28px;
    background: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
}

.catalog-photo {
    padding: 18px 35px;
    margin-bottom: 10px;
}

.catalog-description-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog-description-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

@media only screen and (max-width: 767px) {
    .catalog-item-mobile {
        display: none;
    }

    .catalog-list {
        margin-bottom: 40px;
    }

    .mobile-catalog-button {
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
        color: #fbfbfb;
        min-width: 160px;
        height: 48px;
        border-radius: 16px;
        background-color: #3350e9;
        margin-left: auto;
        margin-right: auto;
    }
}

/* TABLET */
@media only screen and (min-width: 768px) {
    .catalog-section {
        padding-bottom: 80px;
    }

    .catalog-list {
        column-gap: 16px;
        row-gap: 32px;
    }

    .catatlog-item {
        padding: 24px 32px;
        width: calc((100% - 16px) / 2);
    }

    .catalog-photo {
        padding: 10px 6px;
    }

    .catalog-button {
        display: none;
    }

    .catalog-description-title {
        font-size: 20px;
        line-height: 1;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
    .catalog-section {
        padding-bottom: 100px;
    }

    .catalog-list {
        column-gap: 23px;
    }

    .catalog-photo {
        padding: 6px 6px;
    }

    .catatlog-item {
        width: calc((100% - 48px) / 3);
    }
}