.page-footer {
   color: #fbfbfb;
}

.page-footer .container {
   padding-bottom: 20px;
}
.page-footer__inner {
   background-color: #0c0c0c;
   border-radius: 30px;
   padding: 40px 28px 28px 28px;
}

.contacts-footer {
   margin-bottom: 92px;
}


.contacts-footer__logo {
   margin-bottom: 20px;
   display: inline-block;
}

.page-footer .logo {
   color: #fbfbfb;
}

.contact-phone {
   display: inline-block;
   font-size: 12px;
   line-height: 1.3;
   padding: 14px 20px;
   border: 1px solid rgba(251, 251, 251, 0.2);
   border-radius: 16px;
   transition: color 250ms linear, background-color 250ms linear;
}

.contact-phone:hover,
.contact-phone:focus {
   color: #0c0c0c;
   background-color: #fbfbfb;
}

.contacts-footer__slogan {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
}

.page-footer__navigation {
   display: flex;
   justify-content: space-between;
   column-gap: 49px;
   margin-bottom: 24px;
}

.page-footer__menu {
   max-width: 147px;
}

.page-footer__menu-list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 16px;
   row-gap: 8px;
}

.page-footer__menu-link {
   transition: color 100ms linear;
}
.page-footer__menu-link:hover,
.page-footer__menu-link:focus {
   color: rgba(251, 251, 251, 0.5);
}

.contact-address {
   font-size: 12px;
   line-height: 1.33;
   max-width: 83px;
   text-transform: capitalize;
}

.page-footer__extra {
   padding-top: 24px;
   border-top: 1px solid rgba(251, 251, 251, 0.1);
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   justify-content: space-between;
}


.page-footer__copyright,
.page-footer__terms,
.page-footer__privacy-policy-link {
   font-size: 10px;
   line-height: 1.4;
   color: rgba(251, 251, 251, 0.5);
}


.page-footer__copyright span {
   text-transform: capitalize;
}

.page-footer__user-policy {
   display: flex;
   column-gap: 20px;
}

.page-footer__privacy-policy-link {
   text-transform: capitalize;
}

.page-footer__terms,
.page-footer__privacy-policy-link {
   transition: color 100ms linear;
}
.page-footer__terms:hover,
.page-footer__terms:focus,
.page-footer__privacy-policy-link:hover,
.page-footer__privacy-policy-link:focus {
   color: #fbfbfb;
}


/*------------ MOBILE ONLY --------------*/
@media only screen and (max-width:767px) {
   .contacts-footer__logo-block {
      margin-bottom: 20px;
   }

   .contacts-footer__slogan {
      margin-top: 40px;
   }

   .page-footer__menu-link {
      font-size: 12px;
      line-height: 1.33;
   }
}



/*---------------- TABLET -----------------*/
@media only screen and (min-width: 768px) {
   .page-footer .container{
      padding-bottom: 32px;
   }

   .contacts-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
   }

   .social__item {
      width: 36px;
      height: 36px;
   }

   .contact-phone {
      font-size: 14px;
   }

   .contacts-footer__slogan {
      font-size: 28px;
      line-height: 1.14;
      max-width: 524px;
      margin-left: auto;
      margin-right: auto;
   }

   .page-footer__menu {
      max-width: 400px;
   }

   .page-footer__menu-list {
      column-gap: 19px;
   }

   .contact-address {
      max-width: 162px;
      font-size: 14px;
      line-height: 1.29;
   }

   .page-footer__extra {
      flex-direction: row;
      column-gap: 20px;
      padding-top: 28px;
   }


   .page-footer__user-policy {
      flex-shrink: 0;
   }

   .page-footer__copyright,
   .page-footer__terms,
   .page-footer__privacy-policy-link {
      font-size: 14px;
      line-height: 1.29;
   }
}



/*------------------ TABLET AND DESKTOP ----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1280px) {
   .contacts-footer__slogan {
      margin-top: 86px;
   }
}



/*------------------------ DESKTOP ---------------------------*/
@media only screen and (min-width: 1280px) {
   .contacts-footer__phone {
      order: 3;
   }

   .contacts-footer__slogan {
      order: 2;
   }
}