/* ============================= SOCIAL =========================== */
.social {
   display: flex;
   gap: 10px;
}

.social__item {
   width: 34px;
   height: 34px;
}

.social__link {
   width: 100%;
   height: 100%;
   border: 1px solid rgba(251, 251, 251, 0.1);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social__icon {
   fill: #fbfbfb;
   transition: fill 250ms linear;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
   fill: #f3f3f3;
}

@media only screen and (min-width: 768px) {
   .social__item {
      width: 36px;
      height: 36px;
   }
}
/* =============================== SOCIAL ============================== */