.sale-section {
  padding-bottom: 60px;
}

.sale-left-list {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.sale-left-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 13px 14px;
}

.sale-main-picture-box {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 50px;
  margin-bottom: 20px;
}

.sale-description {
  border: none;
  border-radius: 30px;
  background-color: #3350e9;
  padding: 48px 28px;
}

.sale-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-p-tag {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-description-list {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 28px;
}

.sale-description-list-item-new {
  border: none;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
}

.sale-description-list-new-p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-description-list-old-p {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-product-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-product-type {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.sale-product-type-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.sale-product-type-item-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .sale-section {
    padding-bottom: 80px;
  }

  .sale-watches-box {
    display: flex;
    gap: 20px;
  }

  .sale-left-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
  }

  .sale-left-list-item {
    padding: 16px 18px;
    width: 132px;
    height: 132px;
  }
  .sale-pictures-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }

  .sale-main-picture-box {
    max-width: 552px;
    max-height: 558px;
    padding: 80px 112px;
    margin-bottom: 0;
  }

  .sale-description {
    border-radius: 50px;
    padding: 60px;
  }

  .sale-h3 {
    max-width: 455px;
    font-size: 32px;
    line-height: 1.125;
  }

  .sale-description-list-new-p {
    font-size: 20px;
    line-height: 1;
  }

  .sale-product-description {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .sale-product-type {
    max-width: 398px;
    row-gap: 8px;
    column-gap: 8px;
  }
  .sale-product-type-item-name {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .sale-section {
    padding-bottom: 100px;
  }

  .sale-pictures-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }
  .sale-description {
    display: block;
    max-width: 530px;
    max-height: 558px;
    border-radius: 50px;
    padding: 60px;
  }
  .sale-product-description {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40;
  }

  .sale-main-picture-box {
    max-width: 552px;
    max-height: 558px;
    padding: 80px 50px;
    margin-bottom: 0;
  }

  .sale-h3 {
    max-width: 399px;
    font-size: 32px;
    line-height: 1.125;
  }
}
