.sale-section {
  padding: 60px 0;
}

.sale-h2 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.sale-left-list {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.sale-left-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 13px 14px;
}

.sale-main-picture-box {
  width: 100%;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 50px;
  margin-bottom: 20px;
}

.sale-description {
  border: none;
  border-radius: 30px;
  background-color: #3350e9;
  padding: 48px 28px;
}

.sale-h3 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-p-tag {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-description-list {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 28px;
}

.sale-description-list-item-new {
  border: none;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
}

.sale-description-list-new-p {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-description-list-old-p {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-product-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-product-type {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.sale-product-type-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.sale-product-type-item-name {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
}
